<h2 class="text-center">Список записавшихся</h2>

<div class="container"> 
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <!--<caption>Таблица 1:  Все колонки</caption>-->
      <thead>
        <tr class="table-active">
          <th><%= @results[0].keys.join('</th><th>') %></th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |row| %>
          <tr>
            <td><%= row.values[0..-2].join('</td><td>') %></td>
            
            <!-- Выбор цвета текста в зависимости от цвета -->
            <% if row['color'][1..-1].chars.each_slice(2).map{|a| a.join.to_i(16)}.sum < 400 %>
              <% color = 'color: white;'%>
            <% end %>

            <td style="background: <%= row['color'] %>; <%= color %>"><%= row['color'] %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
</div>